// body {
// 	height: 100%;
// 	width: 100%;
// }

// .navbar-andre {
// 	height: 80px;
// 	//border-bottom: 2px solid #d3d3d3;
// 	.logo-home {
//     width: 40px;
//     height: 40px;
//     position: relative;
//     top: 10px;
// 	}

// 	.menu-toggle {
// 		float: right;
// 		height: 40px;
// 		width: 40px;
// 		border-radius: 5px;
// 		padding: 5px;
// 		position: relative;
// 		top: -36px;

// 		.icon-bar {
// 			border: 2px solid #000;
// 			position: relative;
// 			border-radius: 2px;

// 			&.bar {
// 				&-1 {top: 6px; width: 50%;}
// 				&-2 {top: 10px; width: 75%;}
// 				&-3 {top: 14px;}
// 			}
// 		}
// 	}
// }

// .hero-dwj {
// 	&__pict {
// 		img {}
// 	}

// 	&__content {
// 		padding-top: 90px;

// 		@media(max-width:770px){
// 			padding-top: 30px;
// 		}

// 		.hero-title {
// 	    font-size: 80px;
// 	    font-weight: 500;
// 		}
// 		.hero-subtitle {
// 	    font-size: 38px;
// 	    font-weight: 400;
// 		}
// 		.hero-caption {
// 	    font-size: 28px;
// 	    font-weight: 400;
// 	    margin-top: 15px;
// 		}
// 	}

// 	&__socmed {
// 		margin-top: 20px;
// 		i {
// 				font-size: 25px !important;
// 				margin-right: 50px;
// 				color: #fff;
// 				background-color: #F2BCB4;
// 				border-radius: 50%;
// 				width: 30px;
// 				height: 30px;
// 				padding: 8px;
// 				cursor: pointer;

// 				&:hover {
// 					&.fa-facebook {color: #3b5998;}
// 					&.fa-envelope-o { color: #5e5e5e;}
// 					&.fa-instagram { color: #cd486b;}
// 					&.fa-behance { color: #1769ff;}
// 				} 
// 			}
// 	}
// }

.navbarv2 {
	height: 60px;
	width: 100%;
	background-color: transparent;
	display: table;
	text-align: center;
	position: fixed;
	color: #000;

	.menu-center {
		display: table-cell;
		vertical-align: middle;
		ul {padding: 0; margin: 0; list-style-type: none;}
		li {display: inline-block; padding: 12px; cursor: pointer; font-size: 15px; text-transform: lowercase;}
	}
}

.ver2 {
	background-color: #e1e1e1;
	color: #fff;
	height: 100vh;
	padding-top: 100px;
}