body {
	//font-family: 'Roboto Condensed', sans-serif;
}



.home {
	margin-top: 60px;
	&__wrapper {
		margin-top: 50px;
    border-top: 50px solid #0ce3ae;
    border-bottom: 50px solid #fecd7e;
    background-image: linear-gradient(to bottom,#0ce3ae,#c67ae5 50%,#fecd7e),linear-gradient(to bottom,#0ce3ae,#c67ae5 50%,#fecd7e);
    background-size: 50px 100%;
    background-position: 0 0,100% 0;
    background-repeat: no-repeat;
    background-clip: border-box;
    padding: 70px;
    padding-bottom: 120px;
    margin-bottom: 50px;
    position: relative;

		.logo-home {
		    width: 200px;
		    height: 200px;
		    position: absolute;
		    top: -120px;
		    left: calc(100%-58%);
		    border: 1px solid transparent;
		    padding: 20px;

		    @media(max-width:650px) {
		    	left: 0;
		    }
		}
		span.wrapper-tagline {
	    position: absolute;
	    top: -125px;
	    left: 43%;
	    font-weight: 700;
	    letter-spacing: 2px;

	    @media(max-width:650px){
	    	top: -100px;
	    	left: 51%;
	    }
		}

    span.wrapper-text {
    	transform: rotateZ(90deg);
	    top: 0;
	    right: -54px;
	    -webkit-transform-origin: left center;
	    -ms-transform-origin: left center;
	    transform-origin: left center;
	    position: absolute;
	    font-weight: 500;
			color: #fff;
			letter-spacing: 1.5px;
    }
    span.wrapper-text-bottom {
      -webkit-transform: rotateZ(-90deg);
	    -ms-transform: rotate(-90deg);
	    transform: rotateZ(-90deg);
	    -webkit-transform-origin: left center;
	    -ms-transform-origin: left center;
	    transform-origin: left center;
	    bottom: 0;
	    left: 25px;
	    position: absolute; 
	    color: #fff;
	    font-weight: 500;
	    letter-spacing: 1.5px;
    }
	}
}

.home-carousel {
	&__boxes {
		border: 2px solid #f3f3f3;
		text-align: center;
		margin-right: 3px;
	}
	.slick-prev:before, .slick-next:before {
		color: red;
	}
}

.gallery {
	margin-top: 30px;
	margin-bottom: 30px;

	&__wrapper {
		background-color: aliceblue;
		.img-boxes {
			width: 100%;
			height: 175px;
			margin-right: 5px;

			@media(max-width:770px){
				margin-top: 85px;
			}

			img {
				width: 100%;
				height: 100%;
			}

			.parent-container {
				a { display: inline;}
			}
		}
	}
}

.hero {
	height: 100vh;
	width: 100%;
	background-size: cover;

	&__content {
		&-1 {
			background-image: url("../images/hero/1.jpg");
			height: 100vh;
			background-size: cover;
		}

		&-2 {
			background-image: url("../images/hero/2.jpg");
			height: 100vh;
			background-size: cover;
		}

		&-3 {
			background-image: url("../images/hero/3.jpg");
			height: 100vh;
			background-size: cover;
		}
	}

	&__text {
		position: relative;
		top: -500px;
		z-index: 1000;
	}
}