// .tc-benefit {
// 	border-bottom: 2px solid #f2f2f2;
// 	border-top: 2px solid #f2f2f2;
// 	&__wrapper {
// 		padding: 20px;
// 	}
// 	&__content {
// 		&-heading {
// 			font-weight: bold;
// 			color: #db7071; //red
// 			margin-bottom: 30px;
// 		}

// 		&-image {
// 			widows: 300px;
// 			height: 150px;
// 		}

// 		&-title {

// 		}

// 		&-subtitle {

// 		}
// 	}
// }

.chat-widget {
	&__box {
		border: 1px solid #f0f3f8;
		box-shadow: 0 1px 0 0 #e6eaee;
		border-radius: 4px;
	  height: 428px;
	  position: absolute;
	  bottom: 0;
	  right: 0;
	  width: 326px;
	  -webkit-box-shadow: -1px 5px 9px -1px rgba(207,207,207,1);
		-moz-box-shadow: -1px 5px 9px -1px rgba(207,207,207,1);
		box-shadow: -1px 5px 9px -1px rgba(207,207,207,1);
	}
	&__bar {
		background-color: #ffffff;
		box-shadow: 0 1px 0 0 #e6eaee;
	  width: 100%;
	  height: 56px;
	  position: absolute;
	  top: 0;
	  left: 0;
	  color: #354052;
	  display: table;

	  p {
	  	display: table-cell;
	  	vertical-align: middle;
	  	text-align: center;
	  }

	  span {
	  	position: absolute;
		  top: 11px;
		  right: 8px;
		  line-height: 35px;
		  cursor: pointer;

		  &.fa-minus { right: 23px; top: 15px;}
	  }
	}
	&__chat {
		background: #f0f3f8;
	  height: 319px;
	  max-height: 319px;
	  width: 100%;
	  position: absolute;
	  top: 57px;
	  left: 0;
	  overflow: auto;
	  font-size: 12px;
	  padding: 22px;

	  .sender {
	  	.content-sender {
	  		float: right;
        // width: 80%;
        background-image: linear-gradient(to bottom, #2ea1f8, #1990ea);
        border: solid 1px #e6eaee;
        border-radius: 10px;
        min-height: 20px;
        padding: 10px;
        position: relative;
        color: #fff;

        &:before {
          right: -8px;
          border-left: 8px solid #2ea1f8;
          content: '';
          position: absolute;
          top: 13px;
          border-top: 8px solid transparent;
          border-bottom: 8px solid transparent;
        }
	  	}
	  }

	  .receiver {
	  	.content-receiver {
        float: left;
        // width: 100%;
        background-color: #ffffff;
        border: solid 1px #e6eaee;
        border-radius: 10px;
        min-height: 20px;
        padding: 10px;
        position: relative;

        &:before {
          left: -0.5rem;
          border-right: 8px solid #fff;
          content: '';
          position: absolute;
          top: 13px;
          border-top: 8px solid transparent;
          border-bottom: 8px solid transparent;
        }
      }
	  }
	}

	&__input {
		position: absolute;
		bottom: 0;
		width: 100%;
    height: 50px;
    background-color: #ffffff;
    border: solid 1px #dfe3e9;
    padding: 5px;

    input {
      border-color: transparent;
      height: 40px;
      width: 95%;
      float: left;
      font-size: 16px;
      padding: 0 15px;
      outline-color: #fff;
      overflow-y: auto;
      overflow: hidden;
      white-space: nowrap;

    }
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #c4c4c4; font-size: 14px;
      }

    i {font-size: 26px; position: relative; top: 11px; right: 0;}

    input[type="file"] { display: none;}
    .file-upload {cursor: pointer;}
	}
}