.bw-portfolio {
	.img-boxes {
		// width: calc(100%/3);
		width: 100%;
		height: 350px;
		padding: 0;
		

		img {
			display: block;
			width: 100%;
			height: 100%;

			// &:hover {
			// 	opacity: 0.6;
			// }
		}

		p {
			color: #000;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.overlay {
			position: absolute;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  background-color: #008CBA;
		  overflow: hidden;
		  width: 100%;
		  height: 0;
		  transition: .5s ease;

		  &:hover {height: 100%;}
		}
	}
}

.no-padding {padding: 0;}