.body {
	//font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Lato', sans-serif;
}

.bw {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("../images/hero/3.jpg");
	background-size: cover;
	height: 100vh;
	width: 100%;
	display: table;

	&__content {
		display: table-cell;
		vertical-align: middle;
		.bw-heading {
			position: relative;
			top: -180px;

			@media(max-width:1280px){
				top: -90px;
			}
			.bw-title {
		    text-align: center;
		    font-size: 40px;
		    color: #fff;
		    text-transform: uppercase;
		    line-height: 1.5;
		    display: block;
		    letter-spacing: 10.5px;
		    font-weight: 200;

		    @media(max-width:450px){ letter-spacing: 5.5px;}

			}
			.bw-subtitle {
		    text-align: center;
		    font-size: 40px;
		    color: #fff;
		    text-transform: uppercase;
		    letter-spacing: 10.5px;
		    font-weight: 200;

		    @media(max-width:450px){ letter-spacing: 4.5px;}
			}
		}
		.bw-logo {
			width: 100%;
			text-align: center;

			&-content {
				img {
					width: 220px;
					height: 220px;

					@media(max-width:1280px){
						width: 200px;
						height: 200px;
					}
				}
				
			}
		}

		.bw-menu {
			width: 100%;
			text-align: center;
			.menu-list {
				display: inline;
				color: #fff;
				font-size: 15px;
				text-transform: uppercase;
				margin-left: 15px;
			}
			a {text-decoration: none;}
		}

		.bw-contactus {
			text-align: center;
			position: relative;
			top: 175px;
			left: -15px;

			@media(max-width:1280px){
				top: 90px;
			}
			i {
				font-size: 25px !important;
				margin-left: 50px;
				color: #d6d6d6;

				&:hover { color: #fff; cursor: pointer;}
			}
		}
	}
}

