.bw-contact {
	margin-bottom: 20px;
	&__wrapper { 
		margin-top: -75px;
		@media(max-width:765px){ margin-top: -125px;}
	}
	&__title {
		font-size: 45px;
		font-weight: 600;
		position: relative;
		top: -200px;
		color: #fff;
		border-bottom: 10px solid red;
		width: 150px;

		@media(max-width:780px){ left: 15px;}
	}
	&__content {
		a {color: #000; text-decoration: none;}
		.box-contact {
			// background-color: #5fb4ff;
			border-top: 10px solid #0ce3ae;
	    border-bottom: 10px solid #fecd7e;
	    background-image: linear-gradient(to bottom,#0ce3ae,#c67ae5 50%,#fecd7e),linear-gradient(to bottom,#0ce3ae,#c67ae5 50%,#fecd7e);
	    background-size: 10px 100%;
	    background-position: 0 0,100% 0;
	    background-repeat: no-repeat;
	    background-clip: border-box;
			padding: 50px 15px;
			border-radius: 3px;
			-webkit-box-shadow: 0px 10px 31px -6px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 10px 31px -6px rgba(0,0,0,0.75);
			box-shadow: 0px 10px 31px -6px rgba(0,0,0,0.75);
			cursor: pointer;

			@media(max-width:765px){ margin-top: 15px;}
			i {
				font-size: 70px;
				color: #a5a5a5;
			}

			.contact-us-heading {
		    color: #151515;
		    font-size: 26px;
		    font-weight: 500;
		    letter-spacing: 2.2px;
			}

			.contact-us-subheading {
				font-weight: 300;
				letter-spacing: 1.8px;
			}
		}
	}
}