.bw-footer {
	background-color: #e5ecf1;
	height: 30vh;
	padding-top: 50px;
	border-bottom: 2px solid #d3d3d3;

	@media(max-width:770px){height: auto; text-align: center;}
	&__wrapper {}
	&__content {
		.footer-heading {
			text-align: left;
	    font-size: 20px;
	    color: #000;
	    text-transform: uppercase;
	    line-height: 1.5;
	    display: block;
	    font-weight: 400;
	    @media(max-width:770px){text-align: center; }
		}
		.footer-subheading {
			text-align: left;
	    font-size: 15px;
	    color: #000;
	    text-transform: uppercase;
	    line-height: 1.5;
	    display: block;
	    font-weight: 300;
	    @media(max-width:770px){text-align: center; margin-bottom: 15px;}
		}
		ul {
		 list-style-type: none;
		 padding: 0;

			li.heading {
		    font-weight: 600;
		    font-size: 16px;
		    margin-bottom: 15px;
		    @media(max-width:770px){margin-bottom: 8px;}
			}

			li {
				font-size: 13px;
		    font-weight: 300;
				span {font-size: 13px !important; font-weight: 300;}
			}
			a { color: #000; text-decoration: none;}
		}
	}
}