.bw-navbar {
	border-bottom: 2px solid #f2f2f2;
	position: relative;

	&__wrapper {
		display: table;
		height: 80px;
		width: 100%;
	}

	&__content {
		display: table-cell;
		vertical-align: middle;
	}
	
	&__brand {
		display: inline-block;
		p {
			margin: 0;
			font-size: 18px;
			font-weight: bold;
		}
	}

	&__menu {
		display: table-cell;
		vertical-align: middle;
		ul, li {
			padding-left: 0;
			margin: 0;
		}
	}
}

.bw-photo {
	&__title {
		color: red;
	}
	h1 { color: red;}
}