// color
@blue: #1688d1;
@white: #fff;
@black-code: #292c35;
@red-html: #d05b64;
@red-danger: #f84545;
@input-border: #929191;
@yellow: #f5a625;
@green: #5bbc2e;

.component {
	padding-top: 50px;
	padding-bottom: 50px;
}

.component-title {
	text-align: center;
  font-size: 34px;
  margin-bottom: 20px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.nav-pills {
	li {
		font-size: 15px;
		padding: 10px;
		border-radius: 4px;
		cursor: pointer;
		border-bottom: 1px solid #d3d3d3;

		&:hover {
			background-color: #1688d1;
			color: #fff;
		}

		&.active {
			background-color: #1688d1;
			color: #fff;
		}
	}
}

// general
.text-center {text-align: center;}
.avatar-wrapper {}
.dib {display: inline-block !important;}
.sl-code {
	.well-code {background-color: @black-code; color: @white;}
	p.right {float: right}
	span {
		display: block;
		color: @red-html;
	}

	span.pl-20 {color: @white;}
}
.right {float: right;}
.m-0 {margin: 0;}
.mr {
	&-10 {margin-right: 10px;}
	&-15 {margin-right: 15px;}
	&-20 {margin-right: 20px;}
	&-30 {margin-right: 30px;}
	&-40 {margin-right: 40px;}
	&-50 {margin-right: 50px;}
}

.mt {
	&-10 {margin-top: 10px;}
	&-20 {margin-top: 20px;}
	&-30 {margin-top: 30px;}
	&-40 {margin-top: 40px;}
	&-50 {margin-top: 50px;}
	&-100 {margin-top: 100px;}
}

.pl {
	&-20 {padding-left: 20px;}
	&-40 {padding-left: 40px;}
	&-60 {padding-left: 60px;}
	&-80 {padding-left: 80px;}
}

// avatar
.ava-frame {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border: 2px solid #fff;
  display: inline-block;
  background-color: @blue;

	span {
		color: @white;
		font-size: 22px;
    font-weight: bold;
    position: relative;
    top: 33px;
    left: 6px;
	}

  img {
  	width: 100%;
  	height: 100%;
  }

  &.ava-35 {
  	width: 35px;
  	height: 35px;
  }
  &.ava-75 {
  	width: 75px;
  	height: 75px;
  }
  &.ava-100 {
  	width: 100px;
  	height: 100px;
  }
  &.ava-125 {
  	width: 125px;
  	height: 125px;
  }
}

.ava-frame-o {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #fff;
  display: inline-block;
  background-color: @blue;

  span {
  	color: @white;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    top: 33px;
    left: 6px;
  }

  img {
  	width: 100%;
  	height: 100%;
  }

  &.ava-35 {
  	width: 35px;
  	height: 35px;
  }
  &.ava-75 {
  	width: 75px;
  	height: 75px;
  }
  &.ava-100 {
  	width: 100px;
  	height: 100px;
  }
  &.ava-125 {
  	width: 125px;
  	height: 125px;
  }
}

// button
.sl-btn {
	position: relative;
	font-size: 14px;
	min-width: 0;
	text-align: center;
	padding: 10px;
  cursor: pointer;

  &.sl-btn-lg {min-width: 120px; padding: 15px 10px;}
  &.sl-btn-xs {min-width: 0; padding: 5px 10px;}
  &.sl-btn-block {width: 100%;}
}


.btn-blue {
	background-color: @blue;
	color: @white;
	border: 0px;
  outline: 0;
  border-radius: 4px;
}

.btn-blue-o {
	background-color: @blue;
	color: @white;
	border: 0px;
  outline: 0;
  border-radius: 50px;
}

.btn-white {
	background-color: @white;
	border: 0px;
  border: 1px solid #bfbfbf;
  outline: 0;
  border-radius: 4px;
}

.btn-white-o {
	background-color: @white;
	border: 0px;
  border: 1px solid #bfbfbf;
  outline: 0;
  border-radius: 50px;
}

.btn-transparent {
	background-color: transparent;
  outline: 0;
  &:hover {text-decoration: underline;}
}

// input
.searchbox {
	border: 1px solid @input-border;
  border-radius: 4px;
  width: 14em;
  top: 13px;

	input {
  	border-color: transparent;
  	background-color: transparent;
  	outline: 0;
	}

  .input-navbar {
    position: relative;
    left: 6px;
    width: 80%;
  }
  span.fa {
  	font-size: 12px;
  	&.fa-search {position: relative; left: 5px;}
	  &.fa-close {position: relative; top: 7px; float: right; left: -9px;}
  }
}

//color
.color-frame {
	width: 100%;
	height: 150px;
	border-radius: 8px;
	-webkit-box-shadow: 1px 0px 14px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 0px 14px -5px rgba(0,0,0,0.75);
	box-shadow: 1px 0px 14px -5px rgba(0,0,0,0.75);
	display: table;
	text-align: center;

	.text-wrapper { display: table-cell; vertical-align: middle;}

	p {
		color: @white;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;

    &.inverse {color: @black-code;}
	}
}
.blue-sl {background-color: @blue;}
.black-sl {background-color: @black-code;}
.red-sl {background-color: @red-html;}
.white-sl {background-color: @white;}
.border-sl {background-color: @input-border}
.yellow-sl {background-color: @yellow;}
.red-danger-sl {background-color: @red-danger;}
.green-sl {background-color: @green;}

//breadcrumb 
.breadcrumb-hero {
	&__wrapper {}
	&__content {
		width: 100%;
		display: flex;
		ul {list-style-type: none; padding: 0;}
		li {
	    display: inline-block;
	    padding: 20px 40px;
	    background-color: @white;
	    color: @black-code;
	    border-top-left-radius: 4px;
	    border-bottom-left-radius: 4px;
	    position: relative;
	    flex: 1;

	    &.active {
		    background-color: @green;
		    color: @white;

		    &:after {border-left-color: @green;}
	    }

			&:before {
				position: absolute;
		    content: '';
		    left: -4px;
		    top: -8px;
		    border-top: 39px solid transparent;
		    border-bottom: 39px solid transparent;
		    border-left: 18px solid #f5f5f5;
		    z-index: 900;
			}

	    &:after {
	    	position: absolute;
		    content: '';
		    right: -13px;
		    top: 0px;
		    border-top: 30px solid transparent;
		    border-bottom: 30px solid transparent;
		    border-left: 13px solid @white;
				z-index: 999;
	    }
			&:first-child {
				&:before {border-left-color: transparent;}
			}

			// for remove last triangle 
	    &:last-child {
	    	&:after {border-left-color: @white;}
	    }
		}
	}

}

.breadcrumb-step {
	&__wrapper {}
	&__content {
		ul {list-style-type: none; padding: 0;}
		li {
	    display: inline-block;
	    background-color: #fff;
	    border: 1px solid @input-border;
	    border-radius: 50%;
	    width: 30px;
	    height: 30px;
	    padding: 4px;
	    text-align: center;
	    margin-right: calc(100% - 70%);
	    position: relative;
	    z-index: 999;
			
			.breadcrumb-step {

			}
	    .breadcrumb-title {
	    	color: @black-code;
	    	margin-top: 10px;
	    }

	    &.active {
	    	background-color: @green;
	    	border-color: #51a829;
	    	color: @white;

	    	&:after {background-color: @green; border: 1px solid #51a829;}
	    	&:last-child {background-color: yellow;}
	    	& + li {border-color: #51a829;}
	    }

	    &:after {
  	    content: '';
		    position: absolute;
		    height: 2px;
		    width: 230px;
		    top: 13px;
		    left: 29px;
		    background-color: transparent;
		    border: 1px solid @input-border;
	    }

	    &:last-child {
	    	margin-right: 0;
	    	&:after {display: none;}
	    }
		}

	}
}

.breadcrumb-simple {
	&__wrapper {}
	&__content {
		ul {list-style-type: none; padding: 0;}
		li {
			display: inline-block;
			color: @input-border;
			position: relative;
			margin-right: 15px;

			&.active {
				color: @blue;
			}

			&:after {
		    content: '/';
		    color: @input-border;
		    top: 0;
		    right: -12px;
		    position: absolute;
			}

			&:last-child {
				&:after {display: none;}
			}
		}
	}
}