body {
	font-family: 'Fjalla One', sans-serif;
}

.kiducation {
	.navbar {
		margin-bottom: 0;
		.navbar-nav { 
			height: 80px;
			width: 100%;
			padding: 12px;
		  text-align: center;
		  > li {
		    display: inline-block;
		    float: none;
		    margin: 0 20px;
		    color: #3b73a4;

		    > a {
		      padding-left: 30px;
		      padding-right: 30px;
		      color: #3b73a4;

		      &:hover {background-color: transparent;}
		    }
		  }
		}
	}

	.hero {
		height: 70vh;
		padding: 90px 0;
		background-color: #4988cd;

		&-title {
			font-size: 80px;
			color: #fff;
			margin-bottom: 40px;
		}

		&-subtitle {
			font-size: 20px;
	    color: #fff;
	    letter-spacing: 3.4px;
	    text-align: justify;
		}
	}

	.hero-divider {
		height: 60px;
		width: 100%;
		background-color: #ffb5a8;
		color: #fff;
		text-align: center;

		span {letter-spacing: 3px;}
	}
}