//colorpalete
@border-color: #d3d3d3;
@sl-blue: #1688d1;
@sidebar-bg: #272d3e;


// .layout {
// 	background-color: #f3f3f3;
// 	height: 100vh;
// 	width: 100%;

// 	.navbar {
// 		height: 40px;
// 		width: 100%;
// 		border-bottom: 1px solid transparent;
// 		border-radius: 0;
// 		display: table;
// 		padding: 0 30px;
// 		margin-bottom: 0;
// 		background-color: #4691d2;

// 		p {
// 			display: table-cell; vertical-align: middle; color: #fff;
// 		}
// 	}

// 	.mainlayout {
// 		.sidebar {
// 			height: 92.5vh;
// 			width: 70px;
// 			position: fixed;
// 			background-color: @sidebar-bg;
// 			border-right: 1px solid @border-color;
// 			float: left;
// 			display: table;
// 			text-align: center;

// 			p {display: table-cell; vertical-align: middle; }
// 			ul {list-style-type: none; padding: 0;}
// 			li {
// 				padding: 5px;
// 				margin-bottom: 10px;
// 				margin-top: 10px;
// 				color: #7d8191;
// 				cursor: pointer;

// 				span {font-size: 10px; display: block;}
// 				.fa {font-size: 22px; margin-bottom: 5px;}

// 				&:hover {color: #f3f3f5; }
// 			}
// 		}

// 		.mainmenu {
// 			float: left;
// 			width: 94.5%;
// 			// background-color: #edf2f8;
// 			height: calc(100vh - 40px);
// 			position: relative;
// 			left: 70px;

// 			.layuot-1 {
// 				float: left;
// 				// width: 20.45%;
// 				width: 30%;
// 				border-right: 1px solid @border-color;
// 				border-bottom: 1px solid @border-color;
// 				height: 92.5vh;

// 				.profile-page {
// 					background-color: #fff;
// 					height: 150px;
// 					padding: 8px;

// 					.username {
// 						color: #b5b8bd;
// 						text-transform: uppercase;
// 						font-size: 20px;
// 					}

// 					.biodata {
// 						.avatar-o {
// 							img {
// 								border-radius: 50%;
// 								width: 70px;
// 								height: 70px;
// 							}
// 						}
// 					}
// 				}
// 			}
// 			.layout-2 {
// 				float: left;
// 				width: 23.625%;
// 				border-right: 1px solid @border-color;
// 				border-bottom: 1px solid @border-color;
// 				height: 92.5vh;
// 			}
// 			.layout-3 {
// 				float: left;
// 				width: 35.43%;
// 				border-right: 1px solid @border-color;
// 				border-bottom: 1px solid @border-color;
// 				height: 92.5vh;
// 				background-color: #fff;
// 			}
// 			.layout-4 {
// 				float: left;
// 				width: 20.45%;
// 				border-right: 1px solid @border-color;
// 				border-bottom: 1px solid @border-color;
// 				height: 92.5vh;
// 			}
// 		}
// 	}
// }

h1 {margin: 0;}


//new version
.layout {
	width: 100%;
	height: 100vh;
	position: relative;
	background-color: #d3d3d3;
	//diset width sama height, trus dikasih relative supaya bisa nempel2in yang lain

	.navbar {
		height: 60px;
		width: 100%;
		border-bottom: 1px solid transparent;
		border-radius: 0;
		display: table;
		padding: 0 30px;
		margin-bottom: 0;
		background-color: #4691d2;

		p {display: table-cell; vertical-align: middle;}

		&-content {
			display: table-cell; 
			vertical-align: middle;

			.menu-left {float: left;}
			.menu-right {
				float: right;

				ul {list-style-type: none; margin: 0; padding: 0;}
				li {display: inline-block;}
			}
		}
		//navbar position fixed, sampe ukuran tablet bakalan jadi hamburger menu
	}
	
	//sidebar
	.sidebar {
		height: 100%;
		width: 85px;
		position: fixed;
		background-color: @sidebar-bg;
		float: left;
		display: table;
		text-align: center;

		p {display: table-cell; vertical-align: middle; }
		ul {list-style-type: none; padding: 0;}
		li {
			padding: 5px;
			margin-bottom: 10px;
			margin-top: 10px;
			color: #7d8191;
			cursor: pointer;

			span {font-size: 10px; display: block;}
			.fa {font-size: 22px; margin-bottom: 5px;}

			&:hover {color: #f3f3f5; }
		}

		//sidebar dibuat position fixed, width 70px
	}

	//main menu
	.mainmenu {
		width: calc(~"100% - 85px");
		height: 100%;
		position: fixed;
		left: 85px;
		display: inline-flex;
		//define main menu dengan width dan height. trus dibikin position fixed

		//untuk layout, dipakein flex-grow. skrng pake flex box. 
		//dan berguna untuk bikin semuanya jadi lebih bagus
		.layout-1 {
			flex: 1.3;
			height: 100%;
			background-color: #fff;
			color: #000;

			.searchbar {
				background-color: #fff;
				padding: 10px;
				border-bottom: 1px solid #d3d3d3;

				.searchinput {
					width: 100%;
					height: 40px;
					border-radius: 4px;
					border: 1px solid #d3d3d3;
					color: #000;
					padding: 5px;
				}
			}

			.inbox-list {
				overflow: scroll;
				text-align: justify;
				height: 80vh;

				.wrapper {
					border-bottom: 1px solid #d3d3d3;
					padding: 10px;

					.username {
						font-size: 15px;
						font-weight: 500;
					}
					.last-chat {
						font-size: 14px;
						font-weight: 300;
					}
				}
			}
		}

		.layout-2 {
			flex: 2;
			height: 100%;
			background-color: #f7f7f7;
			color: #000;
			padding: 10px;

			@media(max-width: 450px){display: none;}

			//untuk pembungkus semua chat dan bisa overflow
			.inbox-wrapper {
				height: 70vh;
		    overflow: scroll;
			}

			.date-divider {
				text-align: center;
				font-size: 12px;
				color: #949494;
				position: relative;

				&:before {
					content: '';
			    width: 180px;
			    height: 1px;
			    background-color: #949494;
			    position: absolute;
			    left: 11px;
			    top: 9px;

			    @media(max-width: 1243px){width: 130px}
			    @media(max-width: 767px){width: 130px}
				}

				&:after {
					content: '';
			    width: 180px;
			    height: 1px;
			    background-color: #949494;
			    position: absolute;
			    right: 11px;
			    top: 9px;

			    @media(max-width: 1243px){width: 130px}
			    @media(max-width: 767px){width: 130px}
				}
			}

			//sender pake ava ungu
			.sender {
				.row {margin-left: 0; margin-right: 0; margin-top: 10px;}
				.chat-wrapper {
					background-image: -webkit-gradient(linear, left top, left bottom, from(#2ea1f8), to(#1990ea));
			    background-image: -webkit-linear-gradient(top, #2ea1f8, #1990ea);
			    background-image: -o-linear-gradient(top, #2ea1f8, #1990ea);
			    background-image: linear-gradient(to bottom, #2ea1f8, #1990ea);
			    color: #fff;
			    border-radius: 4px;
			    padding: 10px;
					min-width: 20px;
					max-width: 310px;
					float: right;
					position: relative;
					word-wrap: break-word;


					.chat-message {
						text-align: right;
						font-size: 13px;
						font-weight: 300;
					}
				}

				img {
					width: 50px;
					height: 50px;
					margin: 0 auto;
				}
			}

			.inbox-input {
				padding: 10px;
		    margin-top: 3px;

		    .attachment-bar {
		    	height: 30px;

		    	ul {list-style-type: none; padding: 0; margin: 0;}
		    	li {
		    		display: inline-block; 
		    		margin: 5px;

		    		i {font-size: 20px;}
		    	}
		    }

		    textarea {
		    	width: 100%;
		    	max-width: 100%;
		    	border: 1px solid #d2d2d2; 
		    	resize: none;
		    	border-radius: 4px;
		    	padding: 5px;
		    	height: 75px;
		    }
			}

		}

		.layout-3 {
			flex: 1.5;
			height: 100%;
			background-color: #fff;
			color: #000;
			padding: 10px;

			@media(max-width: 767px){display: none;}

			.sl-nav-tabs {
				li {width: calc(100%/3); text-align: center;}
			}
		}
	}
}