.newhomepage {
	.wrapper {
		width: 960px;
		margin: 0 auto;
	}

	.navbar {
		height: 60px;
    border-bottom: 1px solid #d3d3d3;
    border-radius: 0;
    display: table;
    width: 100%;

    &-content {
    	display: table-cell;
    	vertical-align: middle;

    	.logo-brand {font-size: 14px; float: left;}
    	.navbar-menu {
    		ul {list-style-type: none; margin: 0; float: right;}
    		li {
    			display: inline-block;
    			float: left;
    			margin: 0 5px;
    		}
    	}
    }
	}

	#hero-blackwood {
		.hero-slider {
			height: 80vh;
			width: 100%;
      position: relative;
      -webkit-background-size: cover;
            background-size: cover;
      background-color: #f3f3f3;
      
			.hero-1 {background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("../images/hero/3.jpg"); background-size: cover; height: 80vh;}
			.hero-2 {background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("../images/hero/1.jpg"); background-size: cover; height: 80vh;}
			.hero-3 {background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("../images/hero/2.jpg"); background-size: cover; height: 80vh;}
		}
	}

	#gallery {
		padding: 40px 0;

		.gallery-title {
			font-size: 18px;
			font-weight: 600;
			position: relative;
			z-index: 1;

			&:before {
				content: '';
				position: absolute;
				height: 15px;
				width: 100px;
				left: 8px;
				top: 10px;
				background-color: yellow;
				z-index: -1;
			}
		}

		.gallery-boxes {
			border: 1px solid #f5f5f5;
			overflow: hidden;
			padding: 0;
			height: 200px;
			margin-bottom: 10px;

			img {
				width: 100%;
				height: 100%;

				&:hover {opacity: 0.3;}
			}
		}
	}

	#contactus {
		padding: 40px 0;

		.contactus-title {
			font-size: 18px;
			font-weight: 600;
			position: relative;
			z-index: 1;

			&:before {
				content: '';
				position: absolute;
				height: 15px;
				width: 100px;
				left: 8px;
				top: 10px;
				background-color: yellow;
				z-index: -1;
			}
		}
	}
}