// color
@white: #fff;
@green: #009f61;
@purple: #8736ad;
@purple-bg-text: #581479;


.sleekr {
  height: 100vh;
  width: 100%;
  background: -webkit-linear-gradient(top, #8735af, #581479);
  padding-top: 40px;
  padding-bottom: 40px;
  display: table;

	&__wrapper {
		width: 100%;
		height: 100%;

	 //  &:before {
		// 	content: 'sleekr';
		// 	font-size: 322px;
		// 	font-weight: 600;
		// 	color: #581479;
		// 	position: relative;
		// 	text-transform: capitalize;
		// }
	}

	&__content {
		.hero-title {
			font-size: 55px;
			font-weight: 600;
			color: @white;
			margin-top: 50px;
		}

		.hero-subtitle {
	    font-size: 15px;
	    color: @white;
	    font-weight: 300;
	    letter-spacing: 2px;
	    margin-top: 20px;
		}

		.key-info {
			position: relative;
			top: 130px;
		}

		.panel-sleekr {
			background-color: transparent;
			margin-top: 100px;
		}

		.panel-heading-sleekr {
			height: 120px;
			background-color: @green;
			position: relative;
			outline: 0;

			img {
		    position: absolute;
		    top: 60px;
		    left: calc(100% - 70px);
		    width: 115px;
			}
		}

		.panel-body-sleekr {
			background-color: @white;
			height: 180px;
			padding-top: 60px;
			text-align: center;

			.username {
				font-size: 20px;
				text-transform: uppercase;
				font-weight: 500;
			}

			.location {
				margin-top: 15px;
				white-space: nowrap;
			  overflow: hidden;
			  text-overflow: ellipsis;
				span {
					margin-left: 5px;
					width: 100%;
					font-weight: lighter;
				}
			}
		}

		.panel-footer-sleekr {
			height: 65px;
			width: 100%;
			background-color: @white;
			display: table;
			text-align: center;
			padding: 0;

			span {
				width: 50%;
				display: table-cell;
				vertical-align: middle;
				border-right: 1px solid #d3d3d3;
				cursor: pointer;
				font-size: 13px;
			}
		}

		.home-carousel .slick-prev:before, 
		.home-carousel .slick-next:before {
			color: @white;
			top: 58%;
		}

		.sleekr-card {
			position: absolute;
	    left: 0;
	    right: 25px;
	    bottom: 0;
	    top: 0;
	    background-color: #fff;
	    box-shadow: 0 8px 36px 0 rgba(36,37,51,.16);
	    overflow: hidden;
	    padding: 0;
	    height: 100%;
	    width: 307px;

	    .heading {
	    	background-color: @green;
	    	height: calc(100% - 60%);
	    }

	    .image-box {
	    	img {
  		    position: absolute;
			    top: 125px;
			    width: 130px;
			    left: calc(100% - 74px);
	    	}
	    }
		}
	}


}

.sleekr--33 {
	background: -webkit-linear-gradient(top, #b24be4, #581479);
	height: 100vh;
	width: 100%;

	&-wrapper {width: 100%;}
	&-content {
		position: relative;
		.background-text {
			position: absolute;
		  top: 100px;
		  left: 70px;
		  bottom: 0;
		  right: 0;
		  font-size: 322px;
			font-weight: 600;
			text-transform: capitalize;
			color: @purple-bg-text;
		}

		.leftside {
			float: left;
			width: 400px;
			background-color: yellow;
			height: 100vh;
		}
		.rightside {
			float: left;
			width: calc(100% - 400px);
			height: 100vh;
			background-color: @white;
		}
	}
}

.tes-sleekr {
	background-color: @purple;
	height: 100vh;
	width: 100%;
	padding-left: 35px;

	.left-side {
		float: left;
		width: 25%;
		height: 100vh;

		.brand-logo {
			position: relative;
			top: 10%;

			img {width: 50px;}
		}

		.hero-title {
			font-size: 55px;
			font-weight: 600;
			color: @white;
			margin-top: 150px;
		}

		.hero-subtitle {
	    font-size: 15px;
	    color: @white;
	    font-weight: 300;
	    letter-spacing: 1.5px;
	    margin-top: 20px;
		}

		.key-info {margin-top: 100px;}
	}

	.right-side {
		float: left;
		width: 75%;
		// background-color: yellow;
		height: 100vh;
		padding: 100px 40px;
	}

	.panel-sleekr {
			background-color: transparent;
			width: 27%;
			display: inline-block;
			margin: 100px 20px;
		}

		.panel-heading-sleekr {
			height: 120px;
			background-color: @green;
			position: relative;
			outline: 0;

			img {
		    position: absolute;
		    top: 60px;
		    left: calc(100% - 70px);
		    width: 115px;
			}
		}

		.panel-body-sleekr {
			background-color: @white;
			height: 180px;
			padding-top: 60px;
			text-align: center;

			.username {
				font-size: 20px;
				text-transform: uppercase;
				font-weight: 500;
			}

			.location {
				margin-top: 15px;
				white-space: nowrap;
			  overflow: hidden;
			  text-overflow: ellipsis;
				span {
					margin-left: 5px;
					width: 100%;
					font-weight: lighter;
				}
			}
		}

		.panel-footer-sleekr {
			height: 65px;
			width: 100%;
			background-color: @white;
			display: table;
			text-align: center;
			padding: 0;

			span {
				width: 50%;
				display: table-cell;
				vertical-align: middle;
				border-right: 1px solid #d3d3d3;
				cursor: pointer;
				font-size: 13px;
			}
		}
}