.bw
	.bw__content
		.bw-heading
			.bw-title Blackwood
			.bw-subtitle Documentation
		.bw-logo
			.bw-logo-content
				img src="images/logo-1.png" class="logo-img"
		.bw-menu.mt-20
			a href="./views/pages/photo.html"
				.menu-list.btn Photo
			a href="./views/partials/bw-video.html"
				.menu-list.btn  Video
			a href="./views/partials/bw-contact.html"
				.menu-list.btn href="#" Contact
		.bw-contactus
			a href="https://www.facebook.com/blackwooddocumentation/" target="_blank"
				i.fa.fa-facebook
			a href="mailto:andreasdwj@hotmail.co.id"
				i.fa.fa-envelope-o
			a href="https://www.instagram.com/blackwood.doc/" target="_blank"
				i.fa.fa-instagram 
			a href="https://www.behance.com/blackwood.doc/" target="_blank"
				i.fa.fa-behance 
