link rel="stylesheet" href="/stylesheets/vendor.css"
link rel="stylesheet" href="/stylesheets/main.css"

.bw-heading-space

.bw-contact.mt-10
	.container
		.row
			.bw-contact__title Contact Us
			.bw-contact__wrapper
				.bw-contact__content.text-center
					.col-sm-4
						a href="mailto:andreasdwj@hotmail.co.id"
							.box-contact
								i.fa.fa-envelope-o
								.contact-us-heading Email
								.contact-us-subheading blackwood.doc@gmail.com
					.col-sm-4
						a href="https://www.instagram.com/blackwood.doc/" target="_blank"
							.box-contact
								i.fa.fa-instagram
								.contact-us-heading Direct Message
								.contact-us-subheading blackwood.doc
					.col-sm-4
						.box-contact
							i.fa.fa-phone
							.contact-us-heading WhatsApp
							.contact-us-subheading 0821 1019 7424


include ./bw-footer
