.bw-footer
	.container
		.row
			.bw-footer__wrapper
				.bw-footer__content
					.col-sm-3.col-xs-12
						.footer-heading Blackwood
						.footer-subheading Documentation
					.col-sm-3.col-xs-12
						ul 
							li.heading Our Service
							li Photography
							li Videography
					.col-sm-3.col-xs-12
						ul
							li.heading Contact Us
							li
								a href="https://www.facebook.com/blackwooddocumentation/" target="_blank"
									i.fa.fa-facebook
										span.ml-5 Our Facebook
							li
								a href="mailto:andreasdwj@hotmail.co.id"
									i.fa.fa-envelope-o 
										span.ml-5 Our Email
							li
								a href="https://www.instagram.com/blackwood.doc/" target="_blank"
									i.fa.fa-instagram 
										span.ml-5 Our Instagram
							li
								a href="https://www.behance.com/blackwood.doc/" target="_blank"
									i.fa.fa-behance 
										span.ml-5 Our Behance
							

					.col-sm-3.col-xs-12
						ul
							li.heading 
							li