link rel="stylesheet" href="/stylesheets/vendor.css"
link rel="stylesheet" href="/stylesheets/main.css"


nav
	.bw-navbar
		.container
			.bw-navbar__wrapper
				.bw-navbar__content
					.bw-navbar__brand
						p Andreasdwj
					.bw-navbar__menu.pull-right
						ul.list-inline
							a href="index.html"
								li Home
							li Contact Us
							li Portofolio
