#carousel-example-generic.carousel.slide data-ride="carousel" 
  /! Indicators
  ol.carousel-indicators
    li.active data-slide-to="0" data-target="#carousel-example-generic" 
    li data-slide-to="1" data-target="#carousel-example-generic" 
    li data-slide-to="2" data-target="#carousel-example-generic" 
  /! Wrapper for slides
  .carousel-inner role="listbox" 
    .item.active
      img alt="carousel-pict" src="images/carousel-1.png" class="img-responsive" style="width:100%;"
        
    .item
      img alt="carousel-pict" src="images/carousel-2.png" class="img-responsive" style="width:100%;"

    .item
      img alt="carousel-pict" src="images/carousel-3.png" class="img-responsive" style="width:100%;"