.component
	.container
		.row
			.component-title Component Sribulancer
			.col-sm-3.hidden-xs
				.well
					ul.nav.nav-pills.nav-stacked
						li.active Avatar
						li Menu 1
						li Menu 2
						li Menu 3
			.col-sm-9.col-xs-12
				.well
					h3.mb-30 Avatar

					h4 Avatar Type
					p.right Show HTML
					.avatar-wrapper
						.ava-frame.ava-100.mr-10
							img src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" alt="dummy-ava"
						.ava-frame-o.ava-100.mr-10
							img src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" alt="dummy-ava"
						.ava-frame.ava-100.mr-10
							span Dummy
						.ava-frame-o.ava-100.mr-10
							span Dummy

					.sl-code.mt-10
						.well.well-code
							p.right HTML
							span .ava-frame
							span.pl-20 	img src="image-path" alt="dummy-ava"

							span .ava-frame-o
							span.pl-20 	img src="image-path" alt="dummy-ava"

							span .ava-frame
							span.pl-20 	span Dummy

							span .ava-frame-o
							span.pl-20 	span Dummy
					
					h4 Avatar Square Size
					p.right Show HTML
					.avatar-wrapper
						.ava-frame.ava-125.mr-10
							img src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" alt="dummy-ava"
						.ava-frame.ava-100.mr-10
							img src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" alt="dummy-ava"
						.ava-frame.ava-75.mr-10
							img src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" alt="dummy-ava"
						.ava-frame.mr-10
							img src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" alt="dummy-ava"
						.ava-frame.ava-35.mr-10
							img src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" alt="dummy-ava"

						.sl-code.mt-10
							.well.well-code
								p.right HTML
								span .ava-frame.ava-125
								span.pl-20 	img src="image-path" alt="dummy-ava"

								span .ava-frame.ava-100
								span.pl-20 	img src="image-path" alt="dummy-ava"

								span .ava-frame.ava-75
								span.pl-20 	img src="image-path" alt="dummy-ava"

								span .ava-frame
								span.pl-20 	img src="image-path" alt="dummy-ava"

								span .ava-frame.ava-35
								span.pl-20 	img src="image-path" alt="dummy-ava"

					h4 Avatar Circle Size
					p.right Show HTML
					.avatar-wrapper
						.ava-frame-o.ava-125.mr-10
							img src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" alt="dummy-ava"
						.ava-frame-o.ava-100.mr-10
							img src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" alt="dummy-ava"
						.ava-frame-o.ava-75.mr-10
							img src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" alt="dummy-ava"
						.ava-frame-o.mr-10
							img src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" alt="dummy-ava"
						.ava-frame-o.ava-35.mr-10
							img src="https://mir-s3-cdn-cf.behance.net/user/138/f50f7331820467.58331fb2a2c4a.jpeg" alt="dummy-ava"

					.sl-code.mt-10
						.well.well-code
							p.right HTML
							span .ava-frame-o.ava-125
							span.pl-20 	img src="image-path" alt="dummy-ava"

							span .ava-frame-o.ava-100
							span.pl-20 	img src="image-path" alt="dummy-ava"

							span .ava-frame-o.ava-75
							span.pl-20 	img src="image-path" alt="dummy-ava"

							span .ava-frame-o
							span.pl-20 	img src="image-path" alt="dummy-ava"

							span .ava-frame-o.ava-35
							span.pl-20 	img src="image-path" alt="dummy-ava"


					h3.mb-30.mt-30 Button

					h4 Button Type
					p.right Show HTML
					.button-wrapper
						.sl-btn.btn-blue.sl-btn-lg.dib.mr-10 btn-blue
						.sl-btn.btn-white.sl-btn-lg.dib.mr-10 btn-white
						.sl-btn.btn-blue-o.sl-btn-lg.dib.mr-10 btn-blue-o
						.sl-btn.btn-white-o.sl-btn-lg.dib.mr-10 btn-white-o
						.sl-btn.btn-transparent.sl-btn-lg.dib.mr-10 btn-transparent

					.sl-code.mt-10
						.well.well-code
							p.right HTML
							span .sl-btn.btn-blue 
							span.pl-20 text-btn
							span .sl-btn.btn-white 
							span.pl-20 text-btn
							span .sl-btn.btn-blue-o 
							span.pl-20 text-btn
							span .sl-btn.btn-white-o 
							span.pl-20 text-btn
							span .sl-btn.btn-transparent 
							span.pl-20 text-btn

					h4 Button Size
					p.right Show HTML
					.button-wrapper
						.sl-btn.btn-blue.sl-btn-lg.dib.mr-10 btn-blue
						.sl-btn.btn-blue.dib.mr-10 btn-blue
						.sl-btn.btn-blue.sl-btn-xs.dib.mr-10 btn-blue
						br
						.sl-btn.btn-white.sl-btn-lg.dib.mr-10.mt-10 btn-white
						.sl-btn.btn-white.dib.mr-10 btn-white
						.sl-btn.btn-white.sl-btn-xs.dib.mr-10 btn-white
						br
						.sl-btn.btn-blue-o.sl-btn-lg.dib.mr-10.mt-10 btn-blue-o
						.sl-btn.btn-blue-o.dib.mr-10 btn-blue-o
						.sl-btn.btn-blue-o.sl-btn-xs.dib.mr-10 btn-blue-o
						br
						.sl-btn.btn-white-o.sl-btn-lg.dib.mr-10.mt-10 btn-white-o
						.sl-btn.btn-white-o.dib.mr-10 btn-white-o
						.sl-btn.btn-white-o.sl-btn-xs.dib.mr-10 btn-white-o
						br
						.sl-btn.btn-transparent.sl-btn-lg.dib.mr-10.mt-10 btn-transparent
						.sl-btn.btn-transparent.dib.mr-10 btn-transparent
						.sl-btn.btn-transparent.sl-btn-xs.dib.mr-10 btn-transparent

					.sl-code.mt-10
						.well.well-code
							p.right HTML
							span .sl-btn.btn-blue.sl-btn-lg 
							span.pl-20 text-btn
							span .sl-btn.btn-blue 
							span.pl-20 text-btn
							span .sl-btn.btn-blue.sl-btn-xs
							span.pl-20 text-btn
							br
							span .sl-btn.btn-white.sl-btn-lg
							span.pl-20 text-btn
							span .sl-btn.btn-white 
							span.pl-20 text-btn
							span .sl-btn.btn-white.sl-btn-xs 
							span.pl-20 text-btn
							br
							span .sl-btn.btn-blue-o.sl-btn-lg 
							span.pl-20 text-btn
							span .sl-btn.btn-blue-o 
							span.pl-20 text-btn
							span .sl-btn.btn-blue-o.sl-btn-xs
							span.pl-20 text-btn
							br
							span .sl-btn.btn-white-o.sl-btn-lg 
							span.pl-20 text-btn
							span .sl-btn.btn-white-o 
							span.pl-20 text-btn
							span .sl-btn.btn-white-o.sl-btn-xs
							span.pl-20 text-btn
							br
							span .sl-btn.btn-transparent.sl-btn-lg
							span.pl-20 text-btn
							span .sl-btn.btn-transparent 
							span.pl-20 text-btn
							span .sl-btn.btn-transparent.sl-btn-xs 
							span.pl-20 text-btn

					h4 Button Block
					p.right Show HTML
					.button-wrapper
						.sl-btn.sl-btn-block.btn-blue.dib.mr-10 btn-blue
						.sl-btn.sl-btn-block.btn-white.dib.mr-10.mt-10 btn-white
						.sl-btn.sl-btn-block.btn-blue-o.dib.mr-10.mt-10 btn-blue-o
						.sl-btn.sl-btn-block.btn-white-o.dib.mr-10.mt-10 btn-white-o
						.sl-btn.sl-btn-block.btn-transparent.dib.mr-10.mt-10 btn-transparent

					.sl-code.mt-10
						.well.well-code
							p.right HTML
							span .sl-btn.sl-btn-block.btn-blue 
							span.pl-20 text-btn
							span .sl-btn.sl-btn-block.btn-white 
							span.pl-20 text-btn
							span .sl-btn.sl-btn-block.btn-blue-o 
							span.pl-20 text-btn
							span .sl-btn.sl-btn-block.btn-white-o 
							span.pl-20 text-btn
							span .sl-btn.sl-btn-block.btn-transparent 
							span.pl-20 text-btn

					h3.mb-30.mt-30 Input

					h4 Navbar Search
					p.right Show HTML
					.input-wrapper
						.searchbox
							span.fa.fa-search
							input class="input-navbar" type="text" placeholder="Search Conversation"
							span.fa.fa-close

					h4 Text box
					.input-wrapper
						.searchbox
							.fa.fa-search
								input type="text" placeholder="Search Conversation"
							.fa.fa-close

					.sl-code.mt-10
						.well.well-code
							p.right HTML
							span .searchbox
							span.pl-20 .fa.fa-search
							span.pl-40 input placeholder="Search Conversation"
							span.pl-20 .fa.fa-close

					h3.mb-30.mt-30 Color Palete

					h4 Color
					p.right Show HTML
					.color-wrapper
						.row
							.col-sm-2
								.color-frame.blue-sl.mr-10
									.text-wrapper
										p blue-sl
										p #1688d1
							.col-sm-2
								.color-frame.black-sl.mr-10
									.text-wrapper
										p black-sl
										p #292c35
							.col-sm-2
								.color-frame.red-sl.mr-10
									.text-wrapper
										p red-sl
										p #d05b64
							.col-sm-2
								.color-frame.white-sl.mr-10
									.text-wrapper
										p.inverse white-sl
										p.inverse #fff
							.col-sm-2
								.color-frame.border-sl.mr-10
									.text-wrapper
										p.inverse border-sl
										p.inverse #929191
						.row.mt-20
							.col-sm-2
								.color-frame.yellow-sl.mr-10
									.text-wrapper
										p yellow-sl
										p #f5a625
							.col-sm-2
								.color-frame.red-danger-sl.mr-10
									.text-wrapper
										p red-danger-sl
										p #f84545
							.col-sm-2
								.color-frame.green-sl.mr-10
									.text-wrapper
										p green-sl
										p #5bbc2e

					h3.mb-30.mt-30 Breadcrumb

					h4 Breadcrumb Type
					p.right Show HTML
					.wrapper
						.row.m-0
							h5 1. breacrumb hero
							.breadcrumb-hero
								.breadcrumb-hero__wrapper
									.breadcrumb-hero__content
										ul
											li.active ini tahap 1
											li ini tahap 2
											li ini tahap 3

						.row.m-0
							h5 2. breacrumb step
							.breadcrumb-step
								.breadcrumb-step__wrapper
									.breadcrumb-step__content
										ul
											li.active 
												.breadcrumb-step 
													.fa.fa-check
												.breadcrumb-title Step 1
											li 
												.breacrumb-step 2
												.breadcrumb-title Step 2
											li 
												.breacrumb-step 3
												.breadcrumb-title Step 3

						.row.m-0
							h5 3. breacrumb simpe
							.breadcrumb-simple
								.breadcrumb-simple__wrapper
									.breadcrumb-simple__content
										ul
											li.active 
												.breadcrumb-title Step 1
											li
												.breacrumb-title Step 2
											li 
												.breacrumb-title Step 3

					.sl-code.mt-10
						.well.well-code
							p.right HTML
							span .breadcrumb-hero 
							span.pl-20 .breadcrumb-hero__wrapper
							span.pl-40 .breadcrumb-hero__content
							span.pl-60 ul
							span.pl-80 li.active Ini tahap 1
							span.pl-80 li Ini tahap 2
							span.pl-80 li Ini tahap 3
							br
							span .breadcrumb-step 
							span.pl-20 .breadcrumb-step__wrapper
							span.pl-40 .breadcrumb-step__content
							span.pl-60 ul
							span.pl-80 li.active Ini tahap 1
							span.pl-80 li.active Ini tahap 2
							span.pl-80 li.active Ini tahap 3
							br
							span .breadcrumb-simpe 
							span.pl-20 .breadcrumb-simpe__wrapper
							span.pl-40 .breadcrumb-simpe__content
							span.pl-60 ul
							span.pl-80 li.active Ini tahap 1
							span.pl-80 li Ini tahap 2
							span.pl-80 li Ini tahap 3

							
