nav
	.tc-navbar
		.container
			.tc-navbar__wrapper
				.tc-navbar__content
					.tc-navbar__brand
						p Andreasdwj
					.tc-navbar__menu.pull-right
						ul.list-inline
							li Home
							li Contact Us
							li Portofolio
