.newhomepage
	.wrapper
		.navbar
			.navbar-content
				.logo-brand BLACKWOOD DOC.
				.navbar-menu 
					ul
						li About Us
						li Portfolio
						li Contact Us

		#hero-blackwood
			.hero-slider
				.hero-1
				.hero-2
				.hero-3

		#gallery
			.gallery-title Our Works
			.row.mt-20
				- for i in (1..6)
				  .col-sm-4
				  	.gallery-boxes
					  	img src='images/gallery/#{i}.jpg' class="img-responsive"

		#contactus
			.contactus-title Contact Us
			ul
				li Gabriella 
				li Instagram
				li Facebook
				li Twitter

