<!DOCTYPE html>
html lang="en"
head
	meta charset="UTF-8"/
	title andreasdwj
	link rel="stylesheet" href="/stylesheets/vendor.css"
	link rel="stylesheet" href="/stylesheets/main.css"
body
	/ include ./navbar
	/ include ./carousel
	//include ./benefit
	/ .container
	/ 	h1 home
	/include ./component
	/include ./andreasdwj
	/ include ./blackwood
	/ include ./newhomepage
	//include ./bw-footer
	/ include ./layout
	include ./kiducation

	/ include ./test-sleekr

	script src="/scripts/vendor.js"
	script src="/scripts/main.js"
	