.btn-home {
	background-color: palevioletred;
  text-align: center;
  padding: 20px;
  border-radius: 2px;
  font-size: 18px;
  color: #fff;
	-webkit-box-shadow: 10px 10px 0px -1px rgba(82,81,82,1);
	-moz-box-shadow: 10px 10px 0px -1px rgba(82,81,82,1);
	box-shadow: 10px 10px 0px -1px rgba(82,81,82,1);
	cursor: pointer;

}

.btn-socmed {
	background-color: #6eb5d0;
  text-align: center;
  padding: 20px;
  border-radius: 2px;
  font-size: 18px;
  color: #fff;
	-webkit-box-shadow: 10px 10px 0px -1px rgba(82,81,82,1);
	-moz-box-shadow: 10px 10px 0px -1px rgba(82,81,82,1);
	box-shadow: 10px 10px 0px -1px rgba(82,81,82,1);
	cursor: pointer;
}

.bw-heading-space {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/bw-heading-space.jpg");
	height: 300px;
	background-size: cover;
}

.bw-gallery {
	background-color: yellow;
	width: 100%;
	height: 100vh;
}
