//font
//@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

// Core variables and mixins
@import "bower_components/bootstrap/less/variables.less";
@import "bower_components/bootstrap/less/mixins.less";

// Reset and dependencies
@import "bower_components/bootstrap/less/normalize.less";
@import "bower_components/bootstrap/less/print.less";
@import "bower_components/bootstrap/less/glyphicons.less";

// Core CSS
@import "bower_components/bootstrap/less/scaffolding.less";
@import "bower_components/bootstrap/less/type.less";
@import "bower_components/bootstrap/less/code.less";
@import "bower_components/bootstrap/less/grid.less";
@import "bower_components/bootstrap/less/tables.less";
@import "bower_components/bootstrap/less/forms.less";
@import "bower_components/bootstrap/less/buttons.less";

// Components
@import "bower_components/bootstrap/less/component-animations.less";
@import "bower_components/bootstrap/less/dropdowns.less";
@import "bower_components/bootstrap/less/button-groups.less";
@import "bower_components/bootstrap/less/input-groups.less";
@import "bower_components/bootstrap/less/navs.less";
@import "bower_components/bootstrap/less/navbar.less";
@import "bower_components/bootstrap/less/breadcrumbs.less";
@import "bower_components/bootstrap/less/pagination.less";
@import "bower_components/bootstrap/less/pager.less";
@import "bower_components/bootstrap/less/labels.less";
@import "bower_components/bootstrap/less/badges.less";
@import "bower_components/bootstrap/less/jumbotron.less";
@import "bower_components/bootstrap/less/thumbnails.less";
@import "bower_components/bootstrap/less/alerts.less";
@import "bower_components/bootstrap/less/progress-bars.less";
@import "bower_components/bootstrap/less/media.less";
@import "bower_components/bootstrap/less/list-group.less";
@import "bower_components/bootstrap/less/panels.less";
@import "bower_components/bootstrap/less/responsive-embed.less";
@import "bower_components/bootstrap/less/wells.less";
@import "bower_components/bootstrap/less/close.less";

// Components w/ JavaScript
@import "bower_components/bootstrap/less/modals.less";
@import "bower_components/bootstrap/less/tooltip.less";
@import "bower_components/bootstrap/less/popovers.less";
@import "bower_components/bootstrap/less/carousel.less";

// Utility classes
@import "bower_components/bootstrap/less/utilities.less";
@import "bower_components/bootstrap/less/responsive-utilities.less";

// Font-Awesome
@import "bower_components/components-font-awesome/css/font-awesome.css";

// slick-carousel
@import "bower_components/slick-carousel/slick/slick.less";
@import "bower_components/slick-carousel/slick/slick-theme.less";

//magnific-popup
@import "bower_components/magnific-popup/dist/magnific-popup.css";

// partials
@import "./component.less";
@import "./utilities.less";
@import "../partials/navbar.less";
@import "../partials/benefit.less";
@import "../partials/andre.less";
@import "../partials/andreasdwj.less";
@import "../partials/blackwood.less";
@import "../partials/blackwood-portfolio.less";
@import "../partials/bw-photo.less";
@import "../partials/bw-contact.less";
@import "../partials/bw-footer.less";
@import "../partials/component.less";
@import "../partials/test-sleekr.less";
@import "../partials/newhomepage.less";
@import "../partials/layout.less";
@import "../partials/kiducation.less";

@import "../pages/portfolio.less";