.no-m { margin: 0; }
.no-mi { margin: 0 !important;}
.no-mti { margin-top: 0 !important; }
.no-ml { margin-left: 0; }
.no-mli { margin-left: 0 !important; }
.no-mr { margin-right: 0; }
.no-mri { margin-right: 0 !important; }
.no-mt { margin-top: 0; }
.no-mti { margin-top: 0 !important; }
.no-mb { margin-bottom: 0; }
.no-mbi { margin-bottom: 0 !important; }
.no-mtb {
  margin-top: 0;
  margin-bottom: 0;
}
.no-mrl {
  margin-right: 0;
  margin-left: 0;
}

.ma {
  &-5 { margin: 5px; }
  &-10 { margin: 10px; }
}

.ml {
  &-5 { margin-left: 5px; }
  &-10 { margin-left: 10px; }
  &-20 { margin-left: 20px; }
  &-30 { margin-left: 30px; }
  &-50 { margin-left: 50px; }
}
.mr {
  &-3 { margin-right: 3px; }
  &-5 { margin-right: 5px; }
  &-10 { margin-right: 10px; }
  &-20 { margin-right: 20px; }
  &-30 { margin-right: 30px; }
  &-40 { margin-right: 40px; }
  &-50 { margin-right: 50px; }
}
.mt {
  &-minus-100 { margin-top: -100px; }
  &-5 { margin-top: 5px; }
  &-6 { margin-top: 6px; }
  &-10 { margin-top: 10px; }
  &-15 { margin-top: 15px; }
  &-20 { margin-top: 20px; }
  &-25 { margin-top: 25px; }
  &-30 { margin-top: 30px; }
  &-40 { margin-top: 40px; }
  &-50 { margin-top: 50px; }
  &-60 { margin-top: 60px; }
  &-70 { margin-top: 70px; }
  &-100 {margin-top: 100px;}
  &-200 {margin-top: 200px; }
  &-300 {margin-top: 300px; }
  &-400 {margin-top: 400px; }
}

.mtmin {
  &-32 { margin-top: -32px; }
}
.mb {
  &-5 { margin-bottom: 5px; }
  &-10 { margin-bottom: 10px; }
  &-15 { margin-bottom: 15px; }
  &-20 { margin-bottom: 20px; }
  &-25 { margin-bottom: 25px; }
  &-30 { margin-bottom: 30px; }
  &-40 { margin-bottom: 40px; }
  &-50 { margin-bottom: 50px; }
  &-60 { margin-bottom: 60px; }
  &-70 { margin-bottom: 70px; }
}

.space {
  display: block;
  height: 20px;
  &.h10 { height: 10px; }
  &.h15 { height: 15px; }
  &.h21 { height: 21px; }
  &.h22 { height: 220px; }
  &.h23 { height: 23px; }
  &.h24 { height: 24px; }
  &.h25 { height: 25px; }
  &.h35 { height: 35px; }
  &.h40 { height: 40px; }
  &.h50 { height: 50px; }
  &.h75 { height: 75px; }
}

.minh {
  min-height: 100px;
  &.h300 { min-height: 300px; }
	&.h400 { min-height: 400px; }
	&.h500 { min-height: 500px; }
}

.no-padding,
.no-pad { padding: 0; }
.no-padi { padding: 0 !important; }
.no-padl { padding-left: 0 !important; }
.no-padr { padding-right: 0 !important; }

.pt {
  &-5 { padding-top: 5px; }
  &-10 { padding-top: 10px; }
  &-20 { padding-top: 20px; }
  &-30 { padding-top: 30px; }
  &-40 { padding-top: 40px; }
  &-50 { padding-top: 50px; }
  &-60 { padding-top: 60px; }
  &-65 { padding-top: 65px; }
}

.pb {
  &-5 { padding-bottom: 5px; }
  &-10 { padding-bottom: 10px; }
  &-20 { padding-bottom: 20px; }
  &-30 { padding-bottom: 30px; }
  &-40 { padding-bottom: 40px; }
  &-50 { padding-bottom: 50px; }
  &-60 { padding-bottom: 60px; }
}

.pl {
  &-5 { padding-left: 5px; }
  &-10 { padding-left: 10px; }
  &-20 { padding-left: 20px; }
  &-30 { padding-left: 30px; }
  &-50 { padding-left: 50px; }
}

.fwn { font-weight: normal; }
.fwb { font-weight: bold; }
.fwsb { font-weight: 600; }
.fwni { font-weight: normal !important; }
.fwbi { font-weight: bold !important; }

.upcase { text-transform: uppercase; }
.lowcase { text-transform: lowercase; }
.capcase,
.titlecase { text-transform: capitalize; }

.fz-12 { font-size: 12px; }
.fz-14 { font-size: 14px; }
.fz-16 { font-size: 16px; }
.fz-20 { font-size: 20px; }
.fz-24 { font-size: 24px; }

.iblocks { display: inline-block; }
.iblocks-i { display: inline-block !important; }
.blocks { display: block; }
.blocks-i { display: block !important; }

.verticals,
.vertical-middle {
  vertical-align: middle;
}

.no-shadow {
  &, &.panel {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

#console .notification.alert-wrapper {
  // margin-top:60px;
}

.form-control#member_name { text-transform: capitalize; }

.color {
  &-gray { color: #000; }
  &-green { color: #5cb85c; }
  &-yellow { color: #f0ad4e; }
}

.i-red {
  color: red !important;
}

// Text truncation
// Prevent text from wrapping onto multiple lines, and truncate with an ellipsis.

.u-text-truncate {
  max-width: 100%; /* 1 */
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important; /* 2 */

  a& {
    display: inline-block;
  }
}

.pos-relative { position: relative; }

.divider-horizontal {
  height: 1px;
  background-color: #c7c7c7;
  margin-top: 20px;
  margin-bottom: 20px;
}